*.class
**/target
bin/
dist
lib/
**/logs
products
repository
workspace
*~
target
target-ide
.classpath
.project
.settings
MANIFEST.MF
*.ipr
*.iml
*.iws
.idea
classes
out/
.externalToolBuilders
maven-eclipse.xml
.metadata



